

html{
	background-color: black;
}

body{

    background-color: #e5e5e5;
    font-family: cursive;


}
header {
	background-color: #dd9f33;
	height: 50px;
	
}

.header-cont {
  width: 1200px;
  margin: 0 auto;;

}

.header-cont img{
	float: left	padding-top: 5px;
}


.shee img{
	float: left;
	margin-right: 60px;
	margin-bottom: 60px;0


	
}

.header-cont ul li a{
	padding-left: 10px;
	color: #100;
	text-decoration: none;
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
}
.cars{
	min-height: 700px;
	width: 1080px;
	background-color: white;
	padding: 60px;
	margin: 0 auto;



}


}


}
.header-cont ul{
	float: left;
}
.header-cont ul li{
	float: right;
	list-style: none;
	display: inline-block;
	padding-right: 75px;

}


}

.shee h1{
	margin: 0 0 14px 0;
	padding: 0;
	color: #dd9f33;
}
.shee h4{
	margin:0 0 20px 0;
	padding: 0;
	color: #505050;


}
.shee p{
	font-size: 16px;
	line-height: 1.5em;
}
.hall{
	float: left;
}
.joy{
	padding-left: 40px;
}
.brenda{
	padding-left: 40px;


}
footer{
	font-size: 16px;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 100px;

}




}


