body{
	background-color: purple;
	font-family: arial;

}
.cont{
	width: 100%px;
	margin: 0 auto;

}
.media{
	width: 600px;
	min-height: 200px;
	margin: 0 auto;

}
.media map{
	width: 800px;
	min-height: 400px;
}
















