body{
	background-color: #ddd;
	background-size: cover;
	font-family: arial;

}
.cont{
	width : 50;
	background-color: #fff;
	margin: 0 auto;
	padding: 20px;
}
facebook icon{
	background-color: 
	color:#3C5A99;;
	line-height: 
	height:
	width:
	font-size:;
}	border-radius:











